django>=3.2,<4.0
django-autocomplete-light==3.9.4
django-crispy-forms>=1.14.0,<2.0
django-debug-toolbar>=3.2,<4.0
django-extensions>=3.1.5
django-import-export>=2.8.0,<3.0
django-q2>=1.6.2
django-datatable-view-compat>=1.0.0
django-select2>=7.10.0
pillow>=10.0.0
psycopg2-binary>=2.9.3
gunicorn>=21.2.0
